.container {
  @apply flex justify-center;

  height: 565px;
  background-position: center 0;
  background-size: 100% 100%;
}

.title {
  @apply font-semibold;

  font-size: 50px;
  color:#ffffff;
  padding: 108px 0 30px 0;
}

.desc {
  @apply whitespace-pre-line font-normal;
  color:#ffffff;
  font-size: 20px;
}

.btn {
  @apply inline-block text-center text-white;

  width: 140px;
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
  background: #07b4d4;
}
