.content {
  @apply flex justify-between gap-8;
  margin-top: 32px;

  :global {
    .next {
      @apply absolute z-30 opacity-0;
      top: 110px;
      bottom: 0;
      margin: auto;
      right: -20px;
      transition: all 0.3s linear;
    }
  }
}

.swiper {
  @apply relative bg-white;
  opacity: 1;
  overflow: visible !important;

  :global {
    .swiper-pagination {
      bottom: -30px;
    }
  }
}

.itemContainer {
  @apply flex flex-col justify-center items-center;
  width: 410px;
  height: 308px;
  background-color: #f7f9fc;
  border-radius: 6px;
  transition: all .3s ease-in-out;
}
.img-box{
    width: 106px;
    height: 120px;
}

.application-title{
  font-size: 22px;
    padding: 23px 0 8px;
}

.application-desc{
  font-size: 14px;
  color: #535353;
  padding:0 60px;
}

.desc{
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: .7px;
  padding-bottom: 40px;
  text-align: justify;
}